a,a:hover
{
    text-decoration: none
}


body
{
    background-image: url(../images/logo.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.top h2
{
    color: #3498db;
    font-style: italic;
    font-size: 80px;
    font-family: 'Alex Brush', cursive;
}
::placeholder
{
    color: #fff !important;
}
.myinpt
{
    border-radius:30px;
    background-color:rgba(0,0,0,0.2)!important;
    color: #fff!important;
    font-size: 18px;
    margin-top: 20px;
    width: 100%;
}

.myicone,.myicone2
{
    position: absolute;
    right: 20px;
    top: 10px;
    color: #ffffff;
}
#myicone1,#myicone2
{
    cursor: pointer;
}
.checkbox
{
    background-color:red;

}
.check-info
{
    color: #ffffff;
    font-size: 18px;
}
.mybtn
{


  border-radius:30px;
  color: #ffffff;
  font-size: 20px;
  height: auto;
  padding: 10px 15px;
  width: 50%;
  border:0px;
  text-align: center;
  font-family: Segoe UI;
}
.frogot
{
    color: #ffffff;
    font-size: 20px;
     
}
.create
{
    color:#3498db;
}

.Copyright
{
  
    color: #fff;
    position: absolute;
    bottom: 40px;
}
.Copyright-link a
{
   
    color: #3498db;

}
